<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown mode="Singleton" type="Server.ImplementationClass, Server" objectUri="server.rem"/>
        <wellknown mode="Singleton" type="Server.User, Server" objectUri="Login"/>
        <wellknown mode="Singleton" type="Server.ImplementationClass, Server" objectUri="server2.rem"/>
      </service>
      <channels>
        <!--impersonate="false"-->
        <channel ref="tcp" secure="true" port="8080" />
        <channel ref="http" secure="true" port="80" impersonate="false"/>
      </channels>
    </application>
  </system.runtime.remoting>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>